.regform {
  max-width: 812px;
  margin: 0 auto;
  border: 1px solid #999;
  padding: 62px 146px 60px;
}
.regform__title {
  font-size: 3.125rem;
  color: #3677fd;
  text-align: center;
  margin: 0 auto 54px;
}

.rg-form__item {
  position: relative;
}
.rg-form__input {
  width: 100%;
  height: 45px;
  border: 1px solid #5a5a5a;
  color: #5a5a5a;
  border-radius: 10px;
  padding: 16px 0 16px 21px;
  margin-bottom: 14px;
  cursor: pointer;
}
.rg-form__input::placeholder {
  color: transparent;
}
.rg-form__input, .rg-form__input + .rg-form__label {
  line-height: 1;
  font: inherit;
  padding: 0.9em 0.4em;
  height: 3em;
  position: relative;
}
.rg-form__input + .rg-form__label {
  position: absolute;
  left: 3%;
  user-select: none;
  color: #5a5a5a;
  transition: transform 0.25s ease-in-out;
  transform-origin: 0 0;
  opacity: 0.7;
}
.rg-form__input:focus, .rg-form__input:not(:placeholder-shown) {
  padding: 8px 0 0 15px;
}
.rg-form__input:focus + .rg-form__label, .rg-form__input:not(:placeholder-shown) + .rg-form__label {
  transform: translate(1%, -15%) scale(0.7);
}
.rg-form__btn {
  display: block;
  margin: 0 auto 20px;
  width: 205px;
  height: 55px;
  background-color: #3695ff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rg-form__btn:hover {
  transform: scale(1.04);
  background-color: #3677fd;
}
.rg-form__sign {
  color: #5a5a5a;
  text-align: center;
  margin-bottom: 14px;
}
.rg-form__link-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.rg-form__link {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rg-form__link:hover {
  transform: scale(1.1);
}