*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: top;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  min-width: 350px;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

#modal-reg {
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
}

.modal-reg-over {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.regform {
  width: 812px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.regform-top__close {
  width: 100%;
  text-align: right;
  padding: 10px 10px 0;
}
.regform-top__close a {
  text-decoration: none;
  padding: 0 10px;
  color: #3677fd;
  font-size: 2.5rem;
}

.regform-main {
  padding: 0 146px 20px;
}
.regform-main__title {
  font-size: 3.125rem;
  font-weight: 400;
  color: #3677fd;
  text-align: center;
  margin: 0 auto 20px;
}

.rg-form__item {
  position: relative;
  margin-bottom: 15px;
}
.rg-form__item:nth-child(3) {
  margin-bottom: 30px;
}
.rg-form__input {
  width: 100%;
  height: 45px;
  border: 1px solid #5a5a5a;
  color: #5a5a5a;
  border-radius: 10px;
  padding: 16px 0 16px 21px;
  cursor: pointer;
}
.rg-form__input::placeholder {
  color: transparent;
}
.rg-form__input, .rg-form__input + .rg-form__label {
  line-height: 1;
  font: inherit;
  padding: 0.9em 0.4em;
  height: 3em;
  position: relative;
}
.rg-form__input + .rg-form__label {
  position: absolute;
  left: 3%;
  user-select: none;
  color: #5a5a5a;
  transition: transform 0.25s ease-in-out;
  transform-origin: 0 0;
  opacity: 0.7;
}
.rg-form__input:focus, .rg-form__input:not(:placeholder-shown) {
  padding: 8px 0 0 15px;
}
.rg-form__input:focus + .rg-form__label, .rg-form__input:not(:placeholder-shown) + .rg-form__label {
  transform: translate(1%, -15%) scale(0.7);
}
.rg-form__btn {
  display: block;
  margin: 0 auto;
  width: 205px;
  height: 55px;
  background: linear-gradient(to right, #3695ff 0%, #3677fd 100%);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rg-form__btn:hover {
  transform: scale(1.04);
  background-color: #3677fd;
}
.rg-form__sign {
  color: #5a5a5a;
  text-align: center;
  margin-bottom: 14px;
}
.rg-form__link-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.rg-form__link {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rg-form__link:hover {
  transform: scale(1.1);
}

.reg-btn {
  margin-bottom: 15px;
}