<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@import url(main_top_part.scss);
=======
img {
  width: 100%;
}

.latest_works {
  text-align: center;
  padding: 80px 133px;
}
.latest_works h2 {
  display: inline-block;
  font-size: 3.125rem;
  font-weight: 300;
  background: -webkit-linear-gradient(90deg, #426FFC, #3E35FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.latest_works .title {
  margin-bottom: 100px;
}
.latest_works .wrap_top, .latest_works .wrap_bot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 52px;
}
.latest_works .pic {
  position: relative;
  overflow: hidden;
}
.latest_works .pic::before {
  border: 1px solid #469dff;
  content: "";
  width: 100%;
  border-radius: 10px;
  height: 50%;
  background-color: #f4f4f4;
  position: absolute;
  left: 0;
  top: -50%;
  transition: ease 0.6s all;
  z-index: 11;
}
.latest_works .pic::after {
  border: 1px solid #469dff;
  content: "";
  width: 100%;
  border-radius: 10px;
  height: 50%;
  background-color: #f4f4f4;
  position: absolute;
  left: 0;
  bottom: -50%;
  transition: ease 0.6s all;
  z-index: 11;
}
.latest_works .pic:hover::before {
  top: 100%;
}
.latest_works .pic:hover::after {
  bottom: 100%;
}

>>>>>>> LatestWorks
=======
@import "client.min.css";
>>>>>>> clients
*, *:before, *:after {
=======
*,
*:before,
*:after {
>>>>>>> about_me
=======
*,
*:before,
*:after {
>>>>>>> cookie
=======
*,
*:before,
*:after {
>>>>>>> Hire
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
<<<<<<< HEAD
  width: 100%;
  height: 100%;
}

img {
  vertical-align: top;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  min-width: 350px;
}

.container {
  width: 90%;
  max-width: 1140px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 0 auto;
}

.about_me, .footer {
  text-align: center;
}

*, :after, :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
=======
>>>>>>> Hire
  width: 100%;
  height: 100%;
}

img {
  vertical-align: top;
}

.container {
  width: 90%;
  max-width: 1140px;
=======
>>>>>>> clients
  margin: 0 auto;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 1rem;
  min-width: 350px;
}

.about_me {
  padding: 26px 100px 0;
  margin-bottom: 97px;
}

.about_me__h2 {
  font-size: 3.125rem;
  font-weight: 400;
  color: #3677fd;
  line-height: 35.12px;
  padding-bottom: 59px;
}

.about_me__p {
  font-size: 1rem;
  line-height: 35px;
}

.footer {
  background-size: 100% 100px;
  padding: 80px 100px 0;
  height: 247px;
  font-size: 2.5rem;
  line-height: 65px;
  background-color: #409aff;
  color: #fff;
}

.footer .footer_p {
  display: inline-block;
}

.footer span {
  font-weight: 700;
}

.footer .about_me_btn_wrapper, .footer p {
  display: inline-block;
}

.footer .about_me_btn_wrapper .about_me_btn {
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  height: 56px;
  padding: 0 70px;
  color: #3695ff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  margin-left: 45px;
  border: 5px solid #fff;
}

.footer .about_me_btn_wrapper .about_me_btn:hover {
  border: 5px solid #00f;
  transform: scale(1.2);
}

.footer .about_me_btn_wrapper .about_me_btn:hover:active {
  background: #00f;
}

@media screen and (max-width: 1005px) {
  .footer {
    padding-top: 75px;
    font-size: 2.81pxrem;
    line-height: 40px;
  }

  .footer span {
    display: block;
  }
}
@media screen and (max-width: 931px) {
  .about_me_btn_wrapper {
    padding-top: 10px;
  }
}
@media screen and (max-width: 850px) {
  .about_me {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 670px) {
  .about_me__h2 {
    font-size: 2.1875rem;
    padding-bottom: 30px;
  }

  .about_me__p {
    line-height: 25px;
  }

  .footer {
    height: 200px;
    font-size: 1.875rem;
    padding-top: 30px;
  }
}
@media screen and (max-width: 544px) {
  .about_me, .footer {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media screen and (max-width: 444px) {
  .about_me, .footer {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 404px) {
  .about_me, .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 384px) {
  .footer {
    padding-top: 10px;
  }
=======
  margin: 0 auto;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: top;
}

body {
  background-color: #f1f8ff;
  font-family: "Lato", sans-serif;
=======
>>>>>>> Hire
=======
>>>>>>> regform
  font-size: 1rem;
  min-width: 350px;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1140px;
<<<<<<< HEAD
<<<<<<< HEAD
  margin: 0 auto;
}

<<<<<<< HEAD
.expert {
  padding: 95px 0 110px 0;
}
.expert .expert__title {
  margin-bottom: 120px;
}
.expert .expert__title .title__text {
  font-size: 3.125rem;
  font-weight: 100;
  color: #3677fd;
  text-align: center;
}
.expert .expert__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.expert .expert__grid-colums {
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}
.expert .expert__grid-icon {
  margin: 0 auto 60px;
  border: 1px solid #bac3cc;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expert .expert__grid-title {
  padding: 0 10px;
}
.expert .expert__grid-title h2 {
  font-size: 1.5rem;
  color: #3677fd;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.expert .expert__grid-title p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 32px;
  color: #000;
>>>>>>> expert_in
=======
.latest_works {
  text-align: center;
  color: #3680fe;
  padding: 80px 133px;
}
.latest_works h2 {
  display: inline-block;
  font-size: 3.125rem;
  font-weight: 300;
  background: -webkit-linear-gradient(90deg, #426FFC, #3E35FC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.latest_works .title {
  margin-bottom: 100px;
}
.latest_works .wrap_top, .latest_works .wrap_bot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 52px;
>>>>>>> LatestWorks
=======
  margin: 0 auto;
}

#cookie_block {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}
#cookie_block p {
  font-size: 14px;
  color: #fff;
  padding-right: 65px;
}
#cookie_block .btn {
  display: inline-block;
  height: 30px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  padding: 0 38px;
}
#cookie_block .btn.btn-white {
  background-color: #fff;
  color: #194277;
}
#cookie_block .btn.btn-white:hover {
  background-color: #194277;
  color: #fff;
>>>>>>> cookie
=======
  margin: 0 auto;
}

.hire .btn-white, .hire .btn-blue {
  display: inline-block;
  height: 55px;
  width: 204px;
  line-height: 46px;
  padding: 0 15px;
  border-radius: 30px;
  font-family: "serif";
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  font-family: "Lato";
}

.hire .btn-blue {
  color: #fff;
  background-color: #3695ff;
  border: 1px solid #3695ff;
}
.hire .btn-blue:hover {
  background: #10254b;
  border-color: #10254b;
}

body {
  background: #367cfd;
}

.hire_overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  backdrop-filter: blur(5px);
}

.hire__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 35%;
  z-index: 99;
  opacity: 0;
  padding: 50px 145px 60px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: all 0.4s ease;
}
@media screen and (max-width: 1600px) {
  .hire__main {
    margin-left: 25%;
  }
}
@media screen and (max-width: 1300px) {
  .hire__main {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1150px) {
  .hire__main {
    margin-left: 15%;
  }
}
@media screen and (max-width: 1050px) {
  .hire__main {
    margin-left: 10%;
  }
}
@media screen and (max-width: 1000px) {
  .hire__main {
    padding: 40px 90px 50px;
  }
}
@media screen and (max-width: 850px) {
  .hire__main {
    margin-left: 5%;
    padding: 30px 60px 40px;
  }
}
@media screen and (max-width: 600px) {
  .hire__main {
    padding: 30px 30px 30px;
  }
}
@media screen and (max-width: 365px), (max-height: 700px) {
  .hire__main {
    margin-left: 3%;
    padding: 30px 10px 25px;
  }
}
.hire .overlay-form .close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  color: #3677fd;
  font-size: 50px;
  font-weight: 400;
  cursor: pointer;
}
.hire__title {
  text-align: center;
  font-size: 2.8125rem;
  font-weight: 400;
  color: #3677fd;
  padding-bottom: 50px;
}
@media screen and (max-width: 365px), (max-height: 700px) {
  .hire__title {
    padding-bottom: 20px;
  }
}
.hire__textarea {
  padding-bottom: 30px;
}
@media screen and (max-width: 365px), (max-height: 700px) {
  .hire__textarea {
    padding-bottom: 15px;
  }
}
.hire__field {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid #b7c0c9;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #acacac;
  font-size: 1.0625rem;
}
.hire__name, .hire__mail {
  height: 45px;
}
.hire__message {
  max-height: 180px;
  resize: none;
  padding: 15px 0 0 10px;
}
@media screen and (max-width: 365px), (max-height: 700px) {
  .hire__message {
    max-height: 140px;
  }
}
.hire__field::placeholder {
  padding-left: 15px;
  color: #acacac;
}
.hire__button {
  text-align: center;
}
.hire .btn-blue {
  font-weight: 400;
}
.hire .virtual__button {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hire .btn-white {
  color: #3695ff;
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
}
.hire .btn-white:hover {
  background: #10254b;
  border-color: #10254b;
}

body.activeForm .overlay-form {
  z-index: 2;
  opacity: 1;
  top: 10vh;
  max-width: 810px;
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out, height 0ms ease-in-out 0ms;
}
@media screen and (max-width: 1000px) {
  body.activeForm .overlay-form {
    max-width: 700px;
  }
}
@media screen and (max-width: 850px) {
  body.activeForm .overlay-form {
    max-width: 550px;
  }
}
@media screen and (max-width: 600px) {
  body.activeForm .overlay-form {
    max-width: 400px;
  }
}
@media screen and (max-width: 450px) {
  body.activeForm .overlay-form {
    top: 5vh;
    max-width: 330px;
  }
}
@media screen and (max-width: 365px), (max-height: 700px) {
  body.activeForm .overlay-form {
    max-width: 300px;
  }
>>>>>>> Hire
=======
  margin: 0 auto;
}

#modal-reg {
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
}

.modal-reg-over {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.regform {
  width: 812px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.regform-top__close {
  width: 100%;
  text-align: right;
  padding: 10px 10px 0;
}
.regform-top__close a {
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  color: #3677fd;
  font-size: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.regform-top__close a:hover {
  transform: scale(1.2);
}

.regform-main {
  padding: 0 146px 20px;
}
.regform-main__title {
  font-size: 3.125rem;
  font-weight: 400;
  color: #3677fd;
  text-align: center;
  margin: 0 auto 20px;
}

.rg-form__item {
  position: relative;
  margin-bottom: 15px;
}
.rg-form__item:nth-child(3) {
  margin-bottom: 30px;
}
.rg-form__input {
  width: 100%;
  height: 45px;
  border: 1px solid #5a5a5a;
  color: #5a5a5a;
  border-radius: 10px;
  padding: 16px 0 16px 21px;
  cursor: pointer;
}
.rg-form__input::placeholder {
  color: transparent;
}
.rg-form__input, .rg-form__input + .rg-form__label {
  line-height: 1;
  font: inherit;
  padding: 0.9em 0.4em;
  height: 3em;
  position: relative;
}
.rg-form__input + .rg-form__label {
  position: absolute;
  left: 3%;
  user-select: none;
  color: #5a5a5a;
  transition: transform 0.25s ease-in-out;
  transform-origin: 0 0;
  opacity: 0.7;
}
.rg-form__input:focus, .rg-form__input:not(:placeholder-shown) {
  padding: 8px 0 0 15px;
}
.rg-form__input:focus + .rg-form__label, .rg-form__input:not(:placeholder-shown) + .rg-form__label {
  transform: translate(1%, -15%) scale(0.7);
}
.rg-form__btn {
  display: block;
  margin: 0 auto;
  width: 205px;
  height: 55px;
  background: linear-gradient(to right, #3695ff 0%, #3677fd 100%);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 24px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rg-form__btn:hover {
  transform: scale(1.04);
  background-color: #3677fd;
}
.rg-form__sign {
  color: #5a5a5a;
  text-align: center;
  margin-bottom: 14px;
}
.rg-form__link-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.rg-form__link {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.rg-form__link:hover {
  transform: scale(1.1);
}

.reg-btn {
  margin-bottom: 15px;
>>>>>>> regform
}